.pageTitle {
  color: var(--black-text);
  font-family: "Satoshi", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 50px;
  }
  
  .sectionTitle {
    font-family: "Satoshi", Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;  
    margin: 20px 0px;
  }

  .sectionText{
  font-family: "Satoshi", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;  
    padding-left: 20px;
  margin: 20px 0;
  }
  

  
  @media screen and (max-width: 920px ) {
    .pageTitle {
        font-size: 27px;
        margin-bottom: 40px;
      }
      
      .sectionTitle {
        font-size: 25px;
      }
    
      .sectionText{
        font-size: 20px;
      }
}

@media screen and (max-width: 765px ) {
    .pageTitle {
        font-size: 25px;
        margin-bottom: 35px;
      }
      
      .sectionTitle {
        font-size: 23px;
      }
    
      .sectionText{
        font-size: 18px;
      }
}