.pageTitle {
    color: var(--black-text);
    font-family: "Satoshi 700", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }
  
  .sectionTitle {
    font-family: "Satoshi 700", Arial, sans-serif;
    font-size: 27px;
    margin: 20px 0px;
  }

  .sectionText{
    font-family: "Satoshi 400", Arial, sans-serif;
    font-size: 22px;
    margin: 20px 0px;
  }
  
  .about {
    padding: 20px;
    background-color: #f4f4f4;
    font-family: "Arial", sans-serif;
  }
  
  @media screen and (max-width: 920px ) {
    .pageTitle {
        font-size: 27px;
        margin-bottom: 40px;
      }
      
      .sectionTitle {
        font-size: 25px;
      }
    
      .sectionText{
        font-size: 20px;
      }
}

@media screen and (max-width: 765px ) {
    .pageTitle {
        font-size: 25px;
        margin-bottom: 35px;
      }
      
      .sectionTitle {
        font-size: 23px;
      }
    
      .sectionText{
        font-size: 18px;
      }
}