.favoriteIconSelected {
    position: absolute;
    right: 10px;
    top: 10px;
    fill: black;
    cursor: pointer;
}
.favoriteIconNotSelected {
    position: absolute;
    right: 10px;
    top: 10px;
    fill: none;
    cursor: pointer;
}
