.favoriteIconSelected {
    position: absolute;
    right: -4px;
    top: -4px;
    fill: black;
    cursor: pointer;
}
.favoriteIconNotSelected {
    position: absolute;
    right: -4px;
    top: -4px;
    fill: var(--gray-primary);
    cursor: pointer;
    filter: drop-shadow(0 0 3px var(--gray-text-secondary));
}
