.formContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.header {
    font-family: "Satoshi", Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0;
}
.errorMessage {
    text-align: center;
    font-size: 26px;
    font-family: "Satoshi";
    font-weight: 700;
    margin: 50px auto;
}
@media screen and (min-width: 766px) {
    .formContainer {
        flex-direction: row;
        margin-bottom: 100px;
    }
    .formUserData {
        margin-right: 70px;
    }
    .formUserData,
    .formChangePassword {
        flex-grow: 1;
    }
    .header {
        font-size: 26px;
        margin: 40px 0;
    }
}
