.accountNav {
    display: flex;
    justify-content: space-between;
    font-family: "Satoshi", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 20px 0;
    border-bottom: 1px solid var(--separator-line);
}
.accountNav p {
    cursor: pointer;
    font-size: 15px;
}
.accountNavLink {
    margin-right: 16px;
    text-decoration: none;
    color: var(--gray-text-primary);
}
.accountNavLink:focus {
    padding: 18px 0;
    font-family: "Satoshi", Arial, sans-serif;
    font-weight: 700;

    color: var(--black-text);
}
.accountNavList {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 766px) {
    .accountNav {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .accountNavList {
        flex-grow: 1;
    }
    .accountNavLink {
        letter-spacing: 1px;
    }
}
