.registrationWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 15px;
}

.registrationBanner {
    width: 60%;
}

.registrationBanner img {
    width: 100%;
}

.registrationFormWrapper {
    width: 35%;
}

.registrationTitle {
    font-family: "Satoshi", Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.registrationSubTitle {
    font-family: "Satoshi", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 16px 0;
}

.googleRegistration {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.googleIconRegistration {
    margin-right: 10px;
}

.redirectPanel {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 500px;
    font-family: "Satoshi", Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--gray-text-primary);
}

.redirectLogin {
    font-family: "Satoshi", Arial, sans-serif;
    color: var(--gray-text-primary);
    font-weight: 900;
}

@media screen and (max-width: 991px) {
    .registrationBanner {
        display: none;
    }

    .registrationFormWrapper {
        width: 50%;
    }

    .registrationTitle {
        font-size: 26px;
    }
}

@media screen and (max-width: 765px) {
    .registrationFormWrapper {
        width: 80%;
    }

    .redirectLogin {
        font-size: 16px;
    }
}
