.buttonGroup {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
}
.buttonGroupTitle {
    font-size: 32px;
    font-family: "Integral-CF 700";
    color: var(--black-text);
    max-width: 70%;
}
.carousel-item {
    width: 100%;
}
.carousel {
    margin-bottom: 50px;
}
@media screen and (min-width: 766px) {
    .buttonGroupTitle {
        font-size: 48px;
    }
}
