.cardWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 296px;
    color: var(--black-text);
}

.imgWrapper {
    background-color: var(--gray-primary);
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    height: 296px;
    display: flex;
    align-items: center;
}

.imgWrapper > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productName {
    font-size: 1.25rem;
}

.productName {
    font-family: "Satoshi 700";
}

.grade {
    display: flex;
    align-items: flex-end;
}

.ratingSpan {
    font-family: "Satoshi 400";
    font-size: 0.875rem;
    padding-bottom: 0.14rem;
    padding-left: 0.5rem;
    color: var(--gray-text-primary);
}

.ratingSpan > span {
    font-family: "Satoshi 700";
    color: black;
}

.defaultPriceSpan {
    font-family: "Satoshi 700";
    font-size: 1.5rem;
}

.salePriceContainer {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}

.onSalePriceSpan {
    font-family: "Satoshi 700";
    font-size: 1.5rem;
    text-decoration: line-through;
    color: var(--gray-text-primary);
}

.saleValue {
    background-color: var(--red-background-discount);
    font-family: "Satoshi 500";
    font-size: 0.75rem;
    color: var(--red-text);
    padding: 6px 14px 6px 14px;
    border-radius: 3.875rem;
}

@media screen and (max-width: 765px){
    .cardWrapper {
        width: 170px;
    }
    .imgWrapper {
        padding: .6rem;
        height: 170px;
    }
    .productName {
        font-size: 1rem;
    }
    .ratingSpan {
        font-size: 0.75rem;
    }
    .defaultPriceSpan {
        font-size: 1.25rem;
    }
    .onSalePriceSpan {
        font-size: 1.25rem;
    }
}