.container {
    position: relative;
    padding-bottom: 10px;
}

.input {
    width: 100%;
    min-height: 40px;
    margin: 5px 0 15px;
    padding: 5px;
    height: 25px;
    border: none;
    border-bottom: 3px solid var(--gray-text-secondary);
    font-size: 16px;
    position: relative;
    box-sizing: border-box;
}

.input::placeholder {
    color: var(--gray-text-secondary);
}

.input:focus {
    outline: none;
    border-bottom: 3px solid var(--gray-text-secondary);
}

.errorText {
    position: absolute;
    /*background-color: #01ab31;*/
    bottom: -8px;
    margin: 0 0 5px 0;
    color: var(--red-text);
    font-size: 14px;
}

.visibilityIcon {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;
}
