.forgotPasswordBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 37%;
}

.forgotPasswordTitle {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.InputEmailPassRecovery {
    box-sizing: border-box;
}
.emailField {
    width: 100%;
    position: relative;
}

.btnBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goHome {
    text-decoration: none;
    font-family: "Satoshi", sans-serif;
    color: var(--gray-text-primary);
    font-weight: 900;
}

.forgotMassage {
    padding-top: 10px;
    position: absolute;
    bottom: -30px;
}

@media screen and (max-width: 920px) {
    .forgotPasswordBlock {
        width: 70%;
        padding: 70px 0;
    }

    .forgotMassage {
        bottom: -40px;
    }
}

@media screen and (max-width: 765px) {
    .forgotPasswordBlock {
        width: 90%;
    }

    .forgotPasswordTitle {
        font-size: 24px;
    }
}
