.pageTitle {
    color: var(--black-text);
    font-family: "Satoshi 700", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }

  .sectionText{
    font-family: "Satoshi 400", Arial, sans-serif;
    font-size: 22px;
    margin: 20px 0px;
  }

  @media screen and (max-width: 920px ) {
    .pageTitle {
        font-size: 27px;
        margin-bottom: 40px;
      }
    
      .sectionText{
        font-size: 20px;
      }
}

@media screen and (max-width: 765px ) {
    .pageTitle {
        font-size: 25px;
        margin-bottom: 37px;
      }
    
      .sectionText{
        font-size: 18px;
      }
}