.PreloaderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Preloader {
    border: 4px solid var(--separator-line);
    border-radius: 50%;
    border-top: 4px solid var(--gray-text-primary);
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
    user-select: none;
    pointer-events: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}