.PreloaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gray-text-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.Preloader {
    border: 4px solid var(--separator-line);
    border-radius: 50%;
    border-top: 4px solid var(--gray-text-primary);
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}