.sectionNav {
    margin-top: 20px;
    margin-bottom: 8px;
    font-family: "Satoshi 400", Arial, sans-serif;
}
/* Navigation Home > Cart */
.breadcrumbsList {
    display: flex;
    justify-content: flex-start;
}
.breadcrumbsList li {
    margin-right: 4px;
}
.breadcrumbsLinkToHome {
    color: var(--gray-text-primary);
}
.breadcrumbsArrow {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}
.breadcrumbsLinkToCart {
    color: var(--black-text);
}
/* Cart Title */
.cartPageTitle {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: "Integral-CF 700", Arial, sans-serif;
}
/* cartContainer */
.cartContainer {
    display: flex;
    flex-direction: column;
}
/* cartContent */
.cartContent {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Cart Summary section */
.cartSummary {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 50px;
}
.cartSummaryTitle {
    font-family: "Satoshi 700", Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 16px;
}
.cartSummaryInfo {
    display: flex;
    flex-direction: column;
}
.cartSummaryContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}
.cartSummaryText {
    font-family: "Satoshi 400", Arial, sans-serif;
    color: var(--gray-text-primary);
    font-size: 16px;
}
.cartSummaryPrice {
    font-family: "Satoshi 700", Arial, sans-serif;
    color: var(--black-text);
}
.cartSummaryDiscount {
    font-family: "Satoshi 700", Arial, sans-serif;
    color: var(--red-text);
}
.cartTotal {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.cartTotalAmount {
    font-family: "Satoshi 700", Arial, sans-serif;
    font-size: 20px;
}
.cartInput {
    background-color: var(--gray-primary);
    padding: 12px 16px 12px 36px;
    border-radius: 62px;
    border: none;
    border: 1px solid var(--gray-primary);
    width: 60%;
    margin-right: 12px;
}
.cartInput:focus {
    outline: none;
    border: 1px solid var(--separator-line);
}

.cartInputLogo {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 20px;
    height: 20px;
}
/* Медиа-запрос для больших єкранов */
@media (min-width: 766px) {
    .sectionNav {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .breadcrumbsArrow {
        margin-right: 10px;
        width: 16px;
        height: 16px;
    }
    .cartPageTitle {
        font-size: 40px;
        margin-bottom: 24px;
    }
    .cartSummaryTitle {
        font-size: 24px;
        margin-bottom: 24px;
    }
    .cartContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .cartContent,
    .cartSummary {
        margin-bottom: 80px;
    }
    .cartContent {
        flex: 2;
    }
    .cartSummary {
        flex: 1;
    }
}
