/* Cart Title */
.cartPageTitle {
    font-size: 24px;
    font-family: "Integral-CF 700", Arial, sans-serif;
}
/* cartContainer */
.cartContainer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
/* cartContent */
.cartContent {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease forwards;
}

/* Медиа-запрос для больших єкранов */
@media (min-width: 766px) {
    .cartPageTitle {
        font-size: 34px;
    }
    .cartContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 40px;
    }
    .cartContent {
        margin-bottom: 80px;
        flex: 2;
        margin-right: 20px;
    }
}
