.SortContainer {
    display: none;
}
@media (min-width: 766px) {
    .SortContainer {
        display: flex;
        align-items: center;
    }
    .SortContainerLabel {
        font-size: 16px;
        margin-right: 10px;
        font-family: "Satoshi 500";
        color: var(--black-text);
    }
    .SortSelect {
        outline: none;
        cursor: pointer;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        background-color: var(--gray-primary);
        color: var(--black-text);
        font-family: "Satoshi 400";
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .SortSelect option {
        background-color: var(--gray-primary);
    }
}
