.BrandWrapper {
    background-color: var(--black--background);
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 39px 16px;
}

.BrandsContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.25rem;
    column-gap: 10px;
    justify-content: center;
}

.BrandsLogo {
    display: block;
    height: 20px;
    width: 30%;
}

@media only screen and (min-width: 766px) {
    .BrandWrapper {
        padding: 39px 50px;
    }
    .BrandsContainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .BrandsLogo {
        display: block;
        width: auto;
    }
}

