.recommendationProducts {
    border-bottom: 1px solid var(--separator-line);
    padding-bottom: 40px;
}
.recommendationProducts h2 {
    text-align: center;
    font-family: "Integral-CF";
  font-weight: 700;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 32px;
}

.productslist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 24px;
}
.productslist li {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@media screen and (min-width: 766px) {
    .recommendationProducts {
        padding-bottom: 64px;
    }
    .recommendationProducts h2 {
        font-size: 48px;
    }
}

@media screen and (min-width: 1299px) {
    .productslist {
        grid-template-columns: repeat(4, 1fr);
    }
}
