.filterSection {
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100vw;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    padding: 20px 24px;
    border-radius: 20px;
    border: 1px solid var(--separator-line);
    box-shadow: 0px -30px 50px #888888;
    overflow-y: auto;
}
.hiddenfilterSection {
    display: none;
}
.filterHeader {
    display: flex;
    justify-content: space-between;
}
.filtersName {
    font-size: 14px;
    font-family: "Satoshi 700";
    margin: 6px 0;
}
.filterTitle {
    font-size: 16px;
    color: var(--black-text);
    font-family: "Satoshi 700";
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 17px;
    border-top: 1px solid var(--separator-line);
}
.filterIcon {
    display: none;
}
.filterToClose {
    display: block;
    cursor: pointer;
}
.filterPriceInfo {
    margin: 7px auto;
    font-size: 13px;
    color: var(--black-text);
    font-family: "Satoshi 400";
}
.filterPriceInfo span {
    margin-left: 5px;
}
.filterLabel {
    display: block;
    cursor: pointer;
    margin-bottom: 3px;
    font-size: 16px;
    font-family: "Satoshi 400";
    color: var(--gray-text-primary);
    text-transform: capitalize;
}
.radioInput {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--gray-text-primary);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}

.radioInput:checked {
    background-color: var(--black-text);
}
.filterError {
    color: var(--red-text);
    margin-top: 15px;
    font-size: 16px;
    font-family: "Satoshi 400";
}
@media (min-width: 766px) {
    .filterTitle {
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 15px;
        padding-top: 10px;
    }
    .filterSectionWrapper {
        background-color: transparent;
    }
    .hiddenfilterSection {
        box-sizing: border-box;
        display: block;
        padding: 20px 24px;
        border: 1px solid var(--separator-line);
        margin: 70px 50px 150px 0;
        min-width: 170px;
        width: 300px;
        border-radius: 20px;
    }
    .filterLabel {
        margin-bottom: 5px;
        font-size: 18px;
        font-family: "Satoshi 400";
        color: var(--gray-text-primary);
        text-transform: capitalize;
    }
    .filterError {
        color: var(--red-text);
        margin-top: 15px;
        font-size: 16px;
        font-family: "Satoshi 400";
    }
    .filterIcon {
        display: block;
    }
    .filterToClose {
        display: none;
    }
    .filtersName {
        font-size: 24px;
    }
}
