.pageTitle {
    color: var(--black-text);
    font-family: "Satoshi", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }

.pageText {
  font-family: "Satoshi", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;  
    padding-left: 20px;
  margin: 20px 0;
}

.pageSubtext {
  font-family: "Satoshi", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;  
  margin: 10px 0;
}


  .sectionText{
    font-family: "Satoshi", Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;  
    margin: 20px 0px;
  }

  .pageList {
    list-style-type: disc;
    padding-left: 50px;

  }

  @media screen and (max-width: 920px ) {
    .pageTitle {
        font-size: 22px;
        margin-bottom: 40px;
      }
    
    .pageText {
      font-size: 16px;
    }
    
    .pageSubtext {
      font-size: 14px;
    }
    
    
      .sectionText{
        font-size: 20px;
      }
    
      .pageList {
        padding-left: 40px;
      }
}

@media screen and (max-width: 765px ) {
    .pageTitle {
        font-size: 20px;
        margin-bottom: 35px;
      }
    
    .pageText {
      font-size: 15px;
    }
    
    .pageSubtext {
      font-size: 13px;
    }
    
      .sectionText{
        font-size: 18px;
      }
    
      .pageList {
        padding-left: 35px;
      }
}