:root {
    /* background */
    --gray-primary: #F0F0F0;
    --gray-secondary: #F2F0F1;
    --red-background-discount:rgba(255, 51, 51, 0.10);
  
    /* text */
    --red-text:#FF3333;
    --gray-text-primary: rgba(0, 0, 0, 0.60);
    --gray-text-secondary: rgba(0, 0, 0, 0.40);
    
    /* svg */
    --yellow-star: #FFC633;
    --green-check: #01AB31; 
  }

  /* fonts */

  /* ---Integral CF */
  /* Bold */
  @font-face {
    font-family: 'Integral-CF 700';
    font-style: normal;
    font-weight: normal;
    src: local("IntegralCF-Bold"), url("./assets/fonts/IntegralCF/IntegralCF-Bold.woff") format("woff");
  }
  
  /* ---Satoshi */
  /* Regular */
  @font-face { 
    font-family: 'Satoshi 400';
    font-style: normal;
    font-weight: normal;
    src: local("Satoshi-Regular"), url("./assets/fonts/Satoshi/Satoshi-Regular.woff") format("woff");
  }
  
  /* Medium */
  @font-face { 
    font-family: 'Satoshi 500';
    font-style: normal;
    font-weight: normal;
    src: local("Satoshi-Medium"), url("./assets/fonts/Satoshi/Satoshi-Medium.woff") format("woff");
  }
  
  /* Bold */
  @font-face {
    font-family: 'Satoshi 700';
    font-style: normal;
    font-weight: normal;
    src: local("Satoshi-Bold"), url("./assets/fonts/Satoshi/Satoshi-Bold.woff") format("woff");
  }
  
